In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import LSTM, Dense
from sklearn.model_selection import train_test_split
from keras.layers import Bidirectional
from keras.layers import TimeDistributed

WARNING:tensorflow:From C:\Users\hp\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [4]:
data = pd.read_csv('simulated_predictive_maintenance_data.csv')
data.head()

   Temperature   Pressure  Vibration   Timestamp  FailureLabel
0    74.967142  68.617357  76.476885  2023-01-01             0
1    85.230299  67.658466  67.658630  2023-01-02             1
2    85.792128  77.674347  65.305256  2023-01-03             1
3    75.425600  65.365823  65.342702  2023-01-04             0
4    72.419623  50.867198  52.750822  2023-01-05             0

In [5]:
scaler = MinMaxScaler()
data[['Temperature', 'Pressure', 'Vibration']] = scaler.fit_transform(data[['Temperature', 'Pressure', 'Vibration']])

In [6]:
data

     Temperature  Pressure  Vibration   Timestamp  FailureLabel
0       0.623065  0.490970   0.504820  2023-01-01             0
1       0.851555  0.475798   0.368577  2023-01-02             1
2       0.864063  0.634273   0.332218  2023-01-03             1
3       0.633272  0.439523   0.332796  2023-01-04             0
4       0.566349  0.210120   0.138251  2023-01-05             0
..           ...       ...        ...         ...           ...
176     0.570303  0.369762   0.503414  2023-06-26             0
177     0.142574  0.502391   0.217649  2023-06-27             0
178     0.367361  0.520346   0.271817  2023-06-28             0
179     0.426866  0.672067   0.315622  2023-06-29             1
180     0.698532  0.334100   0.486607  2023-06-30             0

[181 rows x 5 columns]

In [7]:
timestamp=10
i=1

In [8]:
len(data)

181

In [9]:
len(data) - timestamp - 1

170

In [10]:
sequence = data[['Temperature', 'Pressure', 'Vibration']].iloc[i:(i + timestamp)].values
sequence

array([[0.8515552 , 0.47579802, 0.36857733],
       [0.86406331, 0.63427343, 0.33221761],
       [0.63327158, 0.43952287, 0.33279616],
       [0.566349  , 0.21011961, 0.13825114],
       [0.38729753, 0.3525924 , 0.4533029 ],
       [0.31032563, 0.2893862 , 0.63119485],
       [0.46221558, 0.52353133, 0.18462746],
       [0.3912837 , 0.53039737, 0.22692265],
       [0.59612281, 0.41781119, 0.35968479],
       [0.37852159, 0.80592186, 0.40266625]])

In [ ]:

datax = []
datay = []
timestamp = 10  

for i in range(len(data) - timestamp - 1):
    sequence = data[['Temperature', 'Pressure', 'Vibration']].iloc[i:(i + timestamp)].values
    datax.append(sequence)
    datay.append(data['FailureLabel'].iloc[i + timestamp])

In [ ]:
datax

In [ ]:
datay

In [ ]:
trainx = np.array(datax)
trainy = np.array(datay)

In [ ]:
trainx

In [ ]:
trainy

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(trainx, trainy, test_size=0.2, random_state=42)

In [ ]:
model = Sequential()
model.add(Bidirectional(LSTM(units=50, activation='relu', input_shape=(timestamp, 3))))  
model.add(Dense(units=1, activation='sigmoid')) 

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [ ]:
model.fit(xtrain, ytrain, epochs=10, batch_size=32, validation_data=(xtest, ytest))

In [ ]:
loss, accuracy = model.evaluate(xtest, ytest)
print(f"Test Accuracy: {accuracy}")